.home {
    padding: 1rem;

    &__heading {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    &__slogan {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    &__description {
        margin-bottom: 1rem;
    }

    &__image {
        width: 100%;
    }

    &__cta {
        font-size: 1.3rem;
        padding: 0.5rem;
        width: fit-content;
        color: #FF0000;
        background-color: white;
        border: 2px solid #FF0000;
        transition: 0.2s;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    &__cta:hover {
        background-image: linear-gradient(to bottom, #FF3333, #FF0000);
        color: white;
    }

    &__work {
        width: 100%;
        margin-bottom: 1rem;
        filter: grayscale(100%);
        transition: 0.2s;
    }

    &__section {
        margin-bottom: 2rem;
    }

    &__subheading {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    &__work-div {
        position: relative;
        cursor: pointer;
    }

    &__work-div:hover &__work {
        filter: none;
    }

    &__work-div:hover &__date {
        filter: none;
        border: 2px solid #d10000;
        color: #d10000;
    }

    &__date {
        border: 2px solid black;
        width: fit-content;
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        background-color: white;
        padding: 0.5rem;
        transition: 0.2s;
    }

    &__testimonial-date {
        font-weight: 200;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    &__testimonial {
        background-color: lightgray;
        color: black;
        border: 2px solid black;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__icon {
        font-size: 8rem;
    }

    &__reason-div {
        text-align: center;
        margin-top: 1rem;
        padding: 1rem;  
    }

    &__description--section {
        font-size: 1.2rem;
    }

    &__blog-image {
        width: 100%;
        filter: grayscale(100%);
        transition: 0.2s;
    }

    &__blogpost {
        margin-bottom: 2rem;
        border: 2px solid black;
        transition: 0.2s;
        cursor: pointer;
    }

    &__inner {
        padding: 1rem 1rem 0;
    }

    &__blogpost:hover &__blog-image {
        filter: grayscale(0);
    }

    &__blogpost:hover {
        background-color: black;
        color: white;
    }

    &__cta--main {
        width: 100%;
    }

    &__section:last-of-type {
        margin-bottom: 0;
    }


}